{% extends 'basetemplate.html' %}

{% block head %}
<title>LSB Stego</title>
{% endblock %}

{% block body %}
<div class="content">
    <a href="/encode">Encoding</a>     |       Decoding
    
    <div class="form">
        <form action="" method="post" enctype="multipart/form-data">
            <h5>1. Choose a stego .wav file.</h5>
            <input type="file" name="audiofile" id="file">
            <br>
            <br>
            <h5>2. Enter the number of LSB used for hiding.</h5>
            <input type="number" name="numlsb" id="numlsb">
            <br>
            <br>
            <h5>3. Enter the number of bytes to recover.</h5>
            <input type="number" name="numbytes" id="numbytes">
            <br>
            <br>
            <input type="submit" value="Decode">
        </form>
    </div>
    <script type="text/javascript">
        document.getElementById("home").onclick = function() {
            location.href="/"
        }
    </script>
</div>
{% endblock %}